---
title: "Day-7 Python And Basic Grammar"

date: '2022-06-27'
---

- Hello World

In [1]:
print("Hello World")

Hello World

## 주석처리
- 1줄 주석
- 여러줄 주석
  - 함수 또는 클래스를 문서화 할 때 주로 사용

- 프로젝트 할 때 
 - 전체 공정이 100일 때
 - 코드 / 코드 문서화 / 한글작업 문서화

In [2]:
# print()함수 사용
print ("한줄주석")

"""
여러줄 주석
앞과 뒤로 쌍따옴표 3개
"""
print ("여러줄주석")

한줄주석
여러줄주석

## 변수(Scalar)
- 자료형
- Scalar형, Non-Scarlar형

### 수치형 자료형
- int, float

In [4]:
num_int = 1
print (num_int)
print(type(num_int))

1
<class 'int'>

In [5]:
num_float = 0.1
print(num_float)
print(type(num_float))

0.1
<class 'float'>

- 8진수
  - 0o

In [48]:
a= 0o177
print(a)

127

- 16진수
  - 0x

In [50]:
a= 0x8ff
print(a)

2303

### Bool형
- True, False
- R -> TRUE, FALSE
- 문자열, 리스트, 튜플, 딕셔너리 등 값이 비어있으면 False
- 숫자 0은 False

In [8]:
bool_true= True
print(bool_true)
print(type(bool_true))

True
<class 'bool'>

### 리스트 자료형
- []형태의 자료형
  - a[n:m] : (n번째 요소부터 (m-1)번째 요소까지
  - len() : 리스트의 길이 구하기
- 리스트의 첫번째 위치는 1이 아닌 0

In [155]:
a = [] # 빈 리스트 생성
a_func = list() #빈 리스트 생성
a=[1,2,3,['a','b','c']]
print(len(a)) # 리스트의 길이 구하기 len()
a[1]=4 # 1번째 인덱스를 4로 바군다
print(a)

4
[1, 4, 3, ['a', 'b', 'c']]

- 리스트 값 수정
  - a[n] = m : a리스트의 n의 값이 m으로 수정

In [123]:
a=[1,2,3]
a[0] = 9
print(a)

[9, 2, 3]

- 리스트 값 삽입
  - a.append()
  - insert(a,b) : a번째 인덱스에 b값을 삽입
  - extend([a]) : 원래의 리스트에 a리스트 더하기

In [125]:
a=[100,200,300]
a.append(400)
print(a)
a.append([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, [500, 600]]

In [128]:
a=[100,200,300]
a.insert(1,1000)
print(a)

[100, 1000, 200, 300]

In [127]:
a=[100,200,300]
a.append(400)
print(a)

a.extend([500,600])
print(a)

[100, 200, 300, 400]
[100, 200, 300, 400, 500, 600]

- list 값 삭제
  - remove(), del

In [134]:
a=[1,2,1,2,3,4]
a.remove(1) # 처음나오는 지정값이 사라진다 
print(a)
a=[1,2,1,2,3,4]
del a[1]
print(a)
a=[1,2,1,2,3,4]
del a[:2]
print(a)

[2, 1, 2, 3, 4]
[1, 1, 2, 3, 4]
[1, 2, 3, 4]

- pop()

In [140]:
a=[1,2,3,4,5]
rem = a.pop(1)
print(a)
print(rem)
x=a.pop() # 마지막 인덱스를 지정
print(a)
print(x)

[1, 3, 4, 5]
2
[1, 3, 4]
5

- clear() : 리스트 내 모든 값 삭제
- index() : 값의 위치를 불러옴

In [144]:
a=[1,2,3]
a.index(1)

0

- sort() : 리스트의 정렬

In [154]:
a=[3,2,5,6]
a.sort() # 작은순 정렬
print(a)
a.sort(reverse=True)  #큰 순 정렬
print(a)

[2, 3, 5, 6]
[6, 5, 3, 2]

- count() : list 안에 값이 몇개있는지 조사하여 갯수를 돌려줌

In [158]:
a = [1,2,1,3,1]
a.count(1)

3

### None 자료형
- Null값 : 값이 정해지지 않은 자료형

In [9]:
none_x=None
print(none_x)
print(type(none_x))

None
<class 'NoneType'>

### 튜플 자료형
- ()
- 수정, 삭제, 추가X
- 나머지는 리스트 자료형과 동일
- ()생략해도 무방
- 튜플이 리스트보다 빠르다는 카더라가 있다.

In [157]:
tuple1 = (0)
tuple2 = (0,)
tuple3 = 1,2,3
print(type(tuple1))
print(type(tuple2))
print(type(tuple3))

print(tuple1)
print(tuple2)
print(tuple3)

<class 'int'>
<class 'tuple'>
<class 'tuple'>
0
(0,)
(1, 2, 3)

### 튜플(=리스트)연산자
- 문자열 연산자
- +,*

In [161]:
t1=(0,1,2)
t2=(3,4,5)
print(t1+t2)
print(t1*3)

(0, 1, 2, 3, 4, 5)
(0, 1, 2, 0, 1, 2, 0, 1, 2)

### 딕셔너리 자료형
- key와 value를 한 쌍으로 가진다.
- {}
- 순서라는 개념 존재 X

In [171]:
dic = {'name':'pay', 'phone':'1234','birth':'1111'}
print(dic["phone"])
dic['year']='2022'
print(dic)
del dic['name']  # 요소 삭제
print(dic)

1234
{'name': 'pay', 'phone': '1234', 'birth': '1111', 'year': '2022'}
{'phone': '1234', 'birth': '1111', 'year': '2022'}

- keys() 값만 출력

In [176]:
list(dic.keys()) # list형식으로 바꿔주기 -> 형변환

['phone', 'birth', 'year']

- values() 값만 출력

In [178]:
list(dic.values())

['1234', '1111', '2022']

- items()  key-value 쌍으로, list와 tuple 형태로 변환

In [179]:
dic.items() # 전체적으로는 list형식으로, 각각의 개체는 tuple형식으로

dict_items([('phone', '1234'), ('birth', '1111'), ('year', '2022')])

### 집합 자료형
- set을 이용해 만들수있다.
- 중복 허용X, 순서가 없다.

In [98]:
s1=set([1,2,3,4,5,6])
s2=set([4,5,6,7,8,9])
print(s1&s2) # 교집합
print(s1|s2) # 합집합
print(s1-s2) # 차집합

{4, 5, 6}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3}

## 사칙연산
- 정수형 사칙연산, 실수형 사칙연산
- 결괏값의 자료형을 잘 살펴본다.

### 정수형 사칙연산
- +,-,*,/

In [20]:
a=3
b=2
print('a+b =', a+b)
print('a-b =', a-b)
print('a*b =', a*b)
print('a/b =', a/b)

a+b = 5
a-b = 1
a*b = 6
a/b = 1.5
<class 'int'>

### 실수형 사칙연산

In [23]:
a=1.5
b=2.5
print('a+b =', a+b)
print('a-b =', a-b)
print('a*b =', a*b)
print('a/b =', a/b)

a+b = 4.0
a-b = -1.0
a*b = 3.75
a/b = 0.6
<class 'float'>

### 제곱
- a ** b = a의 b제곱

In [51]:
a = 3
b = 4
a ** b

81

### 나눗셈 후
- 나머지를 반환 : %
- 몫을 반환 : //

In [103]:
print(7 % 3)
print(3 % 7)
print(7//4)
print(4//7)

1
3
1
0

## 논리형 연산자
- Bool형
- True, False 값으로 정의
- 조건식
  - 교집합(=and), 합집합(= or)

In [27]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [26]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [57]:
a=[]
bool(a)

False

## 비교 연산자
- 부등호

In [29]:
print(4>3) # 참 = True
print(4<3) # 거짓 = False
print(4>3 or 3<4)

True
False
True

## 논리형 & 비교연산자 응용
- input()
- 형변환
  - 데이터 타입을 변환

In [35]:
var= input("숫자를 입력하세요")
print(var)
print(type(var))

숫자를 입력하세요1
1
<class 'str'>

In [34]:
var= int(input("숫자를 입력하세요"))
print(var)
print(type(var))

숫자를 입력하세요1
1
<class 'int'>

In [36]:
num1= int(input("첫번째를 입력하세요"))
num2= int(input("두번째를 입력하세요"))
num3= int(input("세번째를 입력하세요"))
num4= int(input("네번째를 입력하세요"))

첫번째를 입력하세요2
두번째를 입력하세요45
세번째를 입력하세요11
네번째를 입력하세요90

In [38]:
var1 = num1 >= num2 
var2 = num3 < num4

In [40]:
print(var1 and var2)

False

## String
- Non Scalar

In [ ]:
print('Hello World')

In [42]:
print("Hello World")
print ("'Hello World'")
print('"Hello World"')

Hello World
'Hello World'
"Hello World"

## String Operartors
- 문자열 연산자
- +, *만 가능

In [46]:
str1 = "Hello "
str2 = "World"
print(str1 + str2)

Hello World

In [47]:
greet = str1 + str2
print(greet * 6)

Hello WorldHello WorldHello WorldHello WorldHello WorldHello World

## 문자열 인덱싱
 - 인뎅싱은 0번째 부터 시작

In [111]:
greeting = "Hello Kaggle"
i = 1
print(greeting[i])

e

## 슬라이싱
- 값의 순서가 존재해야 가능

In [121]:
greeting = "Hello Kaggle"
#print(greeting[시작인덱스:끝인덱스-1])
print(greeting[:6])
print(greeting[6:])
print(greeting[0:10:3]) # 0~10인덱스까지 3의 간격을두고
print(greeting[0:10:4])

Hello
Kaggle
HlKg
Hog

## Practice 
- 홍길동 씨의 과목별 점수는 다음과 같다. 홍길동 씨의 평균점수를 구해보자

In [102]:
print((80+75+55)/3)

70.0

- 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법에 대해 말해보자

In [ ]:
# 자연수를 2로 나누었을 때 나머지가 0이면 짝수, 1이면 홀수이다.

- 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.

In [173]:
a="881120-1068234"
print(a[:6])
print(a[7:])

881120
1068234

- 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자.

In [174]:
pin="881120-1068234"
pin[7]

'1'

- 다음과 같은 문자열 a:b:c:d가 있다. 문자열의 replace 함수를 사용하여 a#b#c#d로 바꿔서 출력해 보자.

In [217]:
a="a:b:c:d"
b=a.replace(":","#")
print(b)

a#b#c#d

- [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [222]:
a = [1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

- ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [226]:
a = ['Life', 'is', 'too', 'short']
result = " ".join(a)
print(result)

Life is too short

- (1,2,3) 튜플에 값 4를 추가하여 (1,2,3,4)를 만들어 출력해 보자.

In [232]:
a=(1,2,3)
b=(4,)
print(a + b)

(1, 2, 3, 4)

- 다음과 같은 딕셔너리 a가 있다. 다음 중 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
  - a['name'] = 'python'
  - a[('a',)] = 'python'
  - a[[1]] = 'python'
  - a[250] = 'python'

In [239]:
a=dict()
a
a['name']='python'
a[('a',)]='python'
a[250] = 'python' # 리스트는 딕셔
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

- 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.

In [243]:
a = {'A':90, 'B':80,'C':70}
b=a.pop('B')  #'B'의 value를 b함수에 저장
print(b)

80

- a 리스트에서 중복 숫자를 제거해 보자.

In [245]:
a=[1,1,1,2,2,3,3,3,4,4,5]
s1=set(a)  # 집합 자료형의 요솟값이 중복이 될 수 없다는 특징을 활용
print(s1)

{1, 2, 3, 4, 5}

## 조건문
### if 조건문

In [186]:
a = -5
if a > 5:
  print("a는 5보다 크다")
elif a > 0:
  print("a는 0보다 크다")
elif a >-5:
  print("a는 -5보다 크다")
else:
  print("a는 매우작다")

a는 매우작다

## 반복문

### for 조건문

In [ ]:
for i in range(10):
  #print(i+1)
  print("Hello World")

- for loop if 조건문 사용
- 문자열, 리스트 등 --> 시퀀스 데이터

In [200]:
a= "kaggle"
# g가 시작하면 반복문을 멈춰라
for x in a:
  print(x)
  if x == 'g':
    break

k
a
g

### emumerate()

In [206]:
alphabets = ["a", "b", "c"]
for index, value in enumerate(alphabets):
  print(index, value)

0 a
1 b
2 c

### 리스트 컴프리헨션(List Comprehension)
- 반복문을 한줄로

In [211]:
fruits = ['apple','kiwi','mango']
newlists = []
# 알파벳 a가 있는 과일만 추출 후, 새로운 리스트에 담기
for fruits in fruits:
  #print(fruits)
  if "a" in fruits:
    newlists.append(fruits)
print(newlists)

['apple', 'mango']

In [216]:
# 리스트 컴프리헨션
fruits = ['apple','kiwi','mango']
newlists = []
newlist = [fruits for fruits in fruits if 'a' in fruits]
print(newlist)

['apple', 'mango']